<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasty Bites</title>
    <link rel="stylesheet" href="style/style.css" />
    <script
      src="https://kit.fontawesome.com/2a8972df98.js"
      crossorigin="anonymous"
      async
      defer
    ></script>
  </head>
  <body>
    <%- include(`header`) %>

    <main class="index">
      <div class="link">
        The tasty bites API is a recipe API that provides access to recipes and
        cuisines.
      </div>

      <div class="link">
        <a href="./docs" id="docs">
          <i class="fa-solid fa-file"></i>
          View Documentation
        </a>
      </div>

      <div>
        <a
          href="https://github.com/Mbahvictor16/tasty-bites"
          target="_blank"
          id="github-link"
        >
          <i class="fa-brands fa-github"></i>
          View On Github
        </a>
      </div>
    </main>
  </body>
</html>
