<main class="docs">
  <div>
    <h1 id="title" class="orange">Tasty Bites API</h1>

    <p>
      The tasty bites API is a recipe API that provides access to recipes and
      cuisines.
    </p>
  </div>

  <div>
    <h2 class="orange" id="api-header">/recipe</h2>

    <code>
      <b>HTTP GET</b>
    </code>

    <div>
      Gets a list of recipe for a given query

      <h3>Parameters</h3>

      <div>
        <code> <b>name</b> </code> &lbbrk;optional&rbbrk; - query the recipe by
        name of food
      </div>

      <div>
        <h3>Sample URL Request</h3>
        <code class="base-url"> http://localhost:3000/api/recipe </code>

        <div id="sample-response">
          <img src="../img/response.png" alt="sample-response" />
        </div>
      </div>
    </div>
  </div>
</main>
